# Intro to the Working with Dates and Times Module

In [14]:
import pandas as pd
import datetime as dt

# Review of Python's datetime Module

In [17]:
someday = dt.date(2016, 4, 12)

In [19]:
someday.year
someday.month
someday.day

12

In [20]:
dt.datetime(2010,1,10)

datetime.datetime(2010, 1, 10, 0, 0)

In [21]:
dt.datetime(2010,1,10,8,12,57)

datetime.datetime(2010, 1, 10, 8, 12, 57)

In [22]:
dt.datetime(2010,1,10,20,12,57)

datetime.datetime(2010, 1, 10, 20, 12, 57)

In [23]:
str(dt.datetime(2010,1,10,20,12,57))

'2010-01-10 20:12:57'

In [25]:
sometime = dt.datetime(2010,1,10,20,12,57)

In [26]:
sometime.second

57

# The pandas Timestamp Object

In [27]:
pd.Timestamp('2015-03-31')

Timestamp('2015-03-31 00:00:00')

In [28]:
pd.Timestamp('2015/03/31')

Timestamp('2015-03-31 00:00:00')

In [30]:
pd.Timestamp('1,1,2010')  ## python is smart to understand in different forms

Timestamp('2010-01-01 00:00:00')

In [31]:
pd.Timestamp('2012,03,04, 6:12:14')

Timestamp('2012-04-01 06:12:14')

In [32]:
pd.Timestamp(dt.datetime(2000,2,2,3,34,45))

Timestamp('2000-02-02 03:34:45')

# The pandas DateTimeIndex Object

In [34]:
dates = ['2016-01-01', '2016-04-12', '2009-09-07']
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-01', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [41]:
dates = [dt.date(2016,1,10), dt.date(1994,6,13), dt.date(2003,12,29)]
dtIndex = pd.DatetimeIndex(dates)

In [43]:
values = [100,200,300]
pd.Series(data = values, index = dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

# The pd.to_datetime() Method

In [45]:
pd.to_datetime('2001-04-19')
pd.to_datetime(dt.date(2015,1,1,))
pd.to_datetime(dt.datetime(2015,1,1,14,35,20))
pd.to_datetime(['2015-01-03', '2014/02/08', '2016', 'July 4th, 1996'])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [47]:
times = pd.Series(['2015-01-03', '2014/02/08', '2016', 'July 4th, 1996'])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [48]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [50]:
dates = pd.Series(['July 4th, 1996', '10/04/1991', 'Hello'])
dates

0    July 4th, 1996
1        10/04/1991
2             Hello
dtype: object

In [51]:
pd.to_datetime(dates)

ParserError: Unknown string format: Hello

In [52]:
pd.to_datetime(dates, errors = 'coerce')  ## if the data is dirty

0   1996-07-04
1   1991-10-04
2          NaT
dtype: datetime64[ns]

# Create Range of Dates with the pd.date_range() Method, Part 1

In [58]:
times = pd.date_range(start  = '2016-01-01', end = '2016-01-10', freq = 'D')

In [59]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [60]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [61]:
pd.date_range(start  = '2016-01-01', end = '2016-01-10', freq = '2D')

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [63]:
pd.date_range(start  = '2016-01-01', end = '2016-01-10', freq = 'B')  ## weekdays only

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [64]:
pd.date_range(start  = '2016-01-01', end = '2016-01-10', freq = 'W')

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [65]:
pd.date_range(start  = '2016-01-01', end = '2016-01-10', freq = 'W-FRI')

DatetimeIndex(['2016-01-01', '2016-01-08'], dtype='datetime64[ns]', freq='W-FRI')

In [66]:
pd.date_range(start  = '2016-01-01', end = '2016-01-10', freq = 'H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-09 15:00:00', '2016-01-09 16:00:00',
               '2016-01-09 17:00:00', '2016-01-09 18:00:00',
               '2016-01-09 19:00:00', '2016-01-09 20:00:00',
               '2016-01-09 21:00:00', '2016-01-09 22:00:00',
               '2016-01-09 23:00:00', '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')

In [68]:
pd.date_range(start  = '2016-01-01', end = '2046-01-10', freq = 'A')  ## year

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

# Create Range of Dates with the pd.date_range() Method, Part 2

In [69]:
pd.date_range('2012-09-09', periods = 25, freq = 'D' ) ## how many dates do we want it to produce

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [70]:
pd.date_range('2012-09-09', periods = 25, freq = 'W')  ## week interval starting with the day Sunday.

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24'],
              dtype='datetime64[ns]', freq='W-SUN')

# Create Range of Dates with the pd.date_range() Method, Part 3

In [71]:
pd.date_range(end = '1999-12-31', periods = 20, freq = 'D')

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

# The .dt Accessor

In [73]:
bunch_of_dates = pd.date_range(start = '2000-01-01', end = '2010-12-31', freq = '24D')

In [74]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [85]:
s.dt.day  ## how many day,week... there is in the range

0       1
1      25
2      18
3      13
4       6
       ..
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

In [76]:
s.dt.month

0       1
1       1
2       2
3       3
4       4
       ..
163     9
164    10
165    11
166    11
167    12
Length: 168, dtype: int64

In [80]:
s.dt.weekday

0      5
1      1
2      4
3      0
4      3
      ..
163    4
164    0
165    3
166    6
167    2
Length: 168, dtype: int64

In [84]:
mask = s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

# Import Financial Data Set with pandas_datareader Library

In [88]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [92]:
stocks = data.DataReader(name = 'MSFT', data_source = 'yahoo', start = '2010-01-01', end = '2020-12-31')
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.226894
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.234720
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.085989

In [96]:
stocks.values
stocks.columns
stocks.index
stocks. axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2020-06-19', '2020-06-22', '2020-06-23', '2020-06-24',
                '2020-06-25', '2020-06-26', '2020-06-29', '2020-06-30',
                '2020-07-01', '2020-07-02'],
               dtype='datetime64[ns]', name='Date', length=2643, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

# Selecting Rows from a DataFrame with a DateTimeIndex

In [97]:
stocks = data.DataReader(name = 'MSFT', data_source = 'yahoo', start = '2010-01-01', end = '2020-12-31')
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.226894
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.234720
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.085989

In [102]:
stocks.loc['2010-01-04']
stocks.loc[pd.Timestamp('2010-01-04')]

stocks.iloc[0]
stocks.iloc[-1]

High         2.080200e+02
Low          2.050000e+02
Open         2.056800e+02
Close        2.062600e+02
Volume       2.931580e+07
Adj Close    2.062600e+02
Name: 2020-07-02 00:00:00, dtype: float64

In [107]:
stocks.loc[[pd.Timestamp('2010-01-04'), pd.Timestamp('2010-01-05')]]

            High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.1  30.590000  30.620001  30.950001  38409100.0  24.226894
2010-01-05  31.1  30.639999  30.850000  30.959999  49749600.0  24.234720

In [111]:
stocks.loc['2013-10-01':'2013-10-07']  ## end point is inclusive, but in iloc it's not included

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-10-01  33.610001  33.299999  33.349998  33.580002  36718700.0  28.962389
2013-10-02  34.029999  33.290001  33.360001  33.919998  46946800.0  29.255632
2013-10-03  34.000000  33.419998  33.880001  33.860001  38703800.0  29.203878
2013-10-04  33.990002  33.619999  33.689999  33.880001  33008100.0  29.221130
2013-10-07  33.709999  33.200001  33.599998  33.299999  35069300.0  28.720888

In [112]:
stocks.truncate(before = '2013-10-01', after = '2013-10-07')  ## same output

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-10-01  33.610001  33.299999  33.349998  33.580002  36718700.0  28.962389
2013-10-02  34.029999  33.290001  33.360001  33.919998  46946800.0  29.255632
2013-10-03  34.000000  33.419998  33.880001  33.860001  38703800.0  29.203878
2013-10-04  33.990002  33.619999  33.689999  33.880001  33008100.0  29.221130
2013-10-07  33.709999  33.200001  33.599998  33.299999  35069300.0  28.720888

In [113]:
pd.date_range(start = '1991-04-12', end = '2020-12-31', freq = pd.DataOffset(years = 1))

AttributeError: module 'pandas' has no attribute 'DataOffset'

# Timestamp Object Attributes and Methods

In [115]:
stocks = data.DataReader(name = 'MSFT', data_source = 'yahoo', start = '2010-01-01', end = '2020-12-31')
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.226894
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.234720
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.085989

In [116]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2020-06-19', '2020-06-22', '2020-06-23', '2020-06-24',
               '2020-06-25', '2020-06-26', '2020-06-29', '2020-06-30',
               '2020-07-01', '2020-07-02'],
              dtype='datetime64[ns]', name='Date', length=2643, freq=None)

In [118]:
someday = stocks.index[500]
someday

Timestamp('2011-12-27 00:00:00')

In [119]:
someday.month

12

In [120]:
someday.week

52

In [121]:
someday.is_quarter_start

False

In [122]:
someday.month_name()

'December'

In [124]:
stocks.index.day_name()

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       ...
       'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday'],
      dtype='object', name='Date', length=2643)

In [126]:
stocks.insert(0, 'Day of Week', stocks.index.day_name())

In [127]:
stocks

,Day of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-01-04,Monday,31.100000,30.590000,30.620001,30.950001,38409100.0,24.226894
2010-01-05,Tuesday,31.100000,30.639999,30.850000,30.959999,49749600.0,24.234720
2010-01-06,Wednesday,31.080000,30.520000,30.879999,30.770000,58182400.0,24.085989
2010-01-07,Thursday,30.700001,30.190001,30.629999,30.450001,50559700.0,23.835503
2010-01-08,Friday,30.879999,30.240000,30.280001,30.660000,51197400.0,23.999893
...,...,...,...,...,...,...,...
2020-06-26,Friday,199.889999,194.880005,199.729996,196.330002,54675800.0,196.330002
2020-06-29,Monday,198.529999,193.550003,195.779999,198.440002,26701600.0,198.440002
2020-06-30,Tuesday,204.399994,197.740005,197.880005,203.509995,34310300.0,203.509995
2020-07-01,Wednesday,206.350006,201.770004,203.139999,204.699997,32061200.0,204.699997
2020-07-02,Thursday,208.020004,205.000000,205.679993,206.259995,29315800.0,206.259995

# The pd.DateOffset Object

In [129]:
stocks = data.DataReader(name = 'MSFT', data_source = 'yahoo', start = '2010-01-01', end = '2020-12-31')
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.226894
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.234720
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.085989

In [132]:
## adding 5 days(week, month..) to each date

In [131]:
stocks.index + pd.DateOffset(days = 5)

DatetimeIndex(['2010-01-09', '2010-01-10', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-16', '2010-01-17', '2010-01-18',
               '2010-01-19', '2010-01-20',
               ...
               '2020-06-24', '2020-06-27', '2020-06-28', '2020-06-29',
               '2020-06-30', '2020-07-01', '2020-07-04', '2020-07-05',
               '2020-07-06', '2020-07-07'],
              dtype='datetime64[ns]', name='Date', length=2643, freq=None)

In [133]:
stocks.index + pd.DateOffset(years = 1, months = 3, days = 5)

DatetimeIndex(['2011-04-09', '2011-04-10', '2011-04-11', '2011-04-12',
               '2011-04-13', '2011-04-16', '2011-04-17', '2011-04-18',
               '2011-04-19', '2011-04-20',
               ...
               '2021-09-24', '2021-09-27', '2021-09-28', '2021-09-29',
               '2021-09-30', '2021-10-01', '2021-10-04', '2021-10-05',
               '2021-10-06', '2021-10-07'],
              dtype='datetime64[ns]', name='Date', length=2643, freq=None)

# Timeseries Offsets

In [134]:
stocks = data.DataReader(name = 'MSFT', data_source = 'yahoo', start = '2010-01-01', end = '2020-12-31')
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.226894
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.234720
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.085989

In [136]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2020-06-30', '2020-06-30', '2020-06-30', '2020-06-30',
               '2020-06-30', '2020-06-30', '2020-06-30', '2020-07-31',
               '2020-07-31', '2020-07-31'],
              dtype='datetime64[ns]', name='Date', length=2643, freq=None)

In [137]:
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2020-05-31', '2020-05-31', '2020-05-31', '2020-05-31',
               '2020-05-31', '2020-05-31', '2020-05-31', '2020-05-31',
               '2020-06-30', '2020-06-30'],
              dtype='datetime64[ns]', name='Date', length=2643, freq=None)

In [138]:
stocks.index + pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01',
               ...
               '2020-07-01', '2020-07-01', '2020-07-01', '2020-07-01',
               '2020-07-01', '2020-07-01', '2020-07-01', '2020-07-01',
               '2020-08-01', '2020-08-01'],
              dtype='datetime64[ns]', name='Date', length=2643, freq=None)

In [139]:
stocks.index - pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2020-06-01', '2020-06-01', '2020-06-01', '2020-06-01',
               '2020-06-01', '2020-06-01', '2020-06-01', '2020-06-01',
               '2020-06-01', '2020-07-01'],
              dtype='datetime64[ns]', name='Date', length=2643, freq=None)

In [140]:
# a simpler way

In [141]:
from pandas.tseries import offsets

In [143]:
stocks.index - offsets.MonthEnd()  ## shorter command after importing offsets folder

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2020-05-31', '2020-05-31', '2020-05-31', '2020-05-31',
               '2020-05-31', '2020-05-31', '2020-05-31', '2020-05-31',
               '2020-06-30', '2020-06-30'],
              dtype='datetime64[ns]', name='Date', length=2643, freq=None)

# The Timedelta Object

In [145]:
pd.Timedelta(days = 3)

Timedelta('3 days 00:00:00')

In [148]:
delta = pd.Timedelta(days = 3, hours = 13, minutes = 45)

In [149]:
time_a = pd.Timestamp('2020-09-08')

In [150]:
time_a - delta

Timestamp('2020-09-04 10:15:00')

# Timedeltas in a Dataset

In [153]:
shipping = pd.read_csv('ecommerce.csv', index_col = 'ID', parse_dates = ['order_date', 'delivery_date'])
shipping.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [155]:
shipping['delivery_date']- shipping['order_date']

ID
1      257 days
2     2144 days
4      563 days
5     1948 days
7     1742 days
         ...
990   1684 days
991   2394 days
993   2719 days
994     10 days
997    637 days
Length: 501, dtype: timedelta64[ns]

In [156]:
shipping['Delivery Time'] = shipping['delivery_date']- shipping['order_date']

In [157]:
shipping.head()

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days