# 1. Flat files

## importing entire text files

In [ ]:
# Open a file: file
file = open('moby_dick.txt', mode='r')

# Print it
print(file.read())

# Check whether file is closed
print(file.closed)

# Close file

file.close()

# Check whether file is closed

print(file.closed)

## Importing text files line by line

In [ ]:
# Read & print the first 3 lines
## Open moby_dick.txt using the with context manager and the variable file
with open('moby_dick.txt') as file:
    print(file.readline())
    print(file.readline())
    print(file.readline())

## Definition of flat files (vs. relational files)

Flat files consist of rows and each row is called a record.

Flat files consist of multiple tables with UNstructured relationships between the tables.

A record in a flat file is composed of fields or attributes, each of which contains at most one item of information.

## Using NumPy to import flat files

In [ ]:
# Import package
import numpy as np

# Assign filename to variable: file
file = 'digits.csv'

# Load file as array: digits
digits = np.loadtxt(file, delimiter=',')

# Print datatype of digits
print(type(digits))

# Select and reshape a row
im = digits[21, 1:]
im_sq = np.reshape(im, (28, 28))

# Plot reshaped data (matplotlib.pyplot already loaded as plt)
plt.imshow(im_sq, cmap='Greys', interpolation='nearest')
plt.show()

### Customizing your NumPy import

In [ ]:
# Import numpy
import numpy as np

# Assign the filename: file
file = 'digits_header.txt'

# Load the data: data
data = np.loadtxt(file, delimiter='\t', skiprows=1, usecols=[0, 2])  ## note that we want to skip the first row and write it explicitly (unlike indices, we straightforwardly put 1). However, choosing columns requires us to use indices-like coding that starts with [0]

# Print data
print(data)

### Importing different datatypes

In [ ]:
# Assign filename: file
file = 'seaslug.txt'

# Import file: data
data = np.loadtxt(file, delimiter='\t', dtype=str)

# Print the first element of data
print(data[0])

# Import data as floats and skip the first row: data_float
data_float = np.loadtxt(file, delimiter='\t', dtype=float, skiprows=1)

# Print the 10th element of data_float
print(data_float[9])

# Plot a scatterplot of the data
plt.scatter(data_float[:, 0], data_float[:, 1])
plt.xlabel('time (min.)')
plt.ylabel('percentage of larvae')
plt.show()

### Working with mixed datatypes (1)

Much of the time you will need to import datasets which have different datatypes in different columns; one column may contain strings and another floats, for example. The function np.loadtxt() will freak at this. There is another function, ***np.genfromtxt()***, which can handle such structures. If we pass dtype=None to it, it will figure out what types each column should be.

Import 'titanic.csv' using the function np.genfromtxt() as follows:

data = np.genfromtxt('titanic.csv', delimiter=',', names=True, dtype=None)

You have just used np.genfromtxt() to import data containing mixed datatypes. There is also another function ***np.recfromcsv()*** that behaves similarly to np.genfromtxt(), except that its default dtype is None

In [ ]:
# Assign the filename: file
file = 'titanic.csv'

# Import file using np.recfromcsv: d
## Import titanic.csv using the function np.recfromcsv() and assign it to the variable, d. You'll only need to pass file to it because it has the defaults delimiter=',' and names=True in addition to dtype=None!

d = np.recfromcsv(file)

# Print out first three entries of d
print(d[:3])

## Using pandas to import flat files as DataFrames (1)

In [ ]:
# Import pandas as pd

import pandas as pd

# Assign the filename: file
file = 'titanic.csv'

# Read the file into a DataFrame: df
df = pd.read_csv(file)

# View the head of the DataFrame

print(df.head())

In [ ]:
# Assign the filename: file
file = 'digits.csv'

# Read the first 5 rows of the file into a DataFrame: data

data = pd.read_csv(file, nrows=5, header=None)

# Build a numpy array from the DataFrame: data_array

data_array = data.values

# Print the datatype of data_array to the shell
print(type(data_array))

### Customizing your pandas import

In [ ]:
# Import matplotlib.pyplot as plt
import matplotlib.pyplot as plt

# Assign filename: file
file = 'titanic_corrupt.txt'

# Import file: data
data = pd.read_csv(file, sep='\t', comment='#', na_values='Nothing')

# Print the head of the DataFrame
print(data.head())

# Plot 'Age' variable in a histogram
pd.DataFrame.hist(data[['Age']])
plt.xlabel('Age (years)')
plt.ylabel('count')
plt.show()

# 2. Importing data from other file types

## Loading a pickled file

In [ ]:
# Import pickle package
import pickle

# Open pickle file and load data: d
## Complete the second argument of open() so that it is read only for a binary file. This argument will be a string of two letters, one signifying 'read only', the other 'binary'.
with open('data.pkl', 'rb') as file:
    d = pickle.load(file)

# Print d
print(d)

# Print datatype of d
print(type(d))

## Listing sheets in Excel files

In [ ]:
# Import pandas
import pandas as pd

# Assign spreadsheet filename: file
file = 'battledeath.xlsx'

# Load spreadsheet: xls
## Pass the correct argument to pd.ExcelFile() to load the file using pandas, assigning the result to the variable xls.

xls = pd.ExcelFile(file)

# Print sheet names
print(xls.sheet_names)

## Importing sheets from Excel files

In [ ]:
# Load a sheet into a DataFrame by name: df1
## Load the sheet '2004' into the DataFrame df1 using its name as a string.

df1 = xls.parse('2004')

# Print the head of the DataFrame df1

print(df1.head())

# Load a sheet into a DataFrame by index: df2
## Load the sheet 2002 into the DataFrame df2 using its index (0).

df2 = xls.parse(0)


# Print the head of the DataFrame df2
print(df2.head())

## Customizing your spreadsheet import

In [ ]:
# Parse the first sheet and rename the columns: df1
## Parse the first sheet by index. In doing so, skip the first row of data and name the columns 'Country' and 'AAM due to War (2002)' using the argument names. The values passed to skiprows and names all need to be of type list.

df1 = xls.parse(0, skiprows=[0], names=['Country', 'AAM due to War (2002)'])

# Print the head of the DataFrame df1
print(df1.head())

# Parse the first column of the second sheet and rename the column: df2
## Parse the second sheet by index. In doing so, parse only the first column with the usecols parameter, skip the first row and rename the column 'Country'. 
## The argument passed to usecols and names also needs to be of type list.

df2 = xls.parse(1, usecols=[0], skiprows=[0], names=['Country'])  ### names should be passed in type list even though there is a single one to assign

# Print the head of the DataFrame df2
print(df2.head())

## Importing SAS files

In [ ]:
# Import the module SAS7BDAT from the library sas7bdat.

from sas7bdat import SAS7BDAT

# Save file to a DataFrame: df_sas
## In the context of the file 'sales.sas7bdat', load its contents to a DataFrame df_sas, using the method to_data_frame() on the object file.

with SAS7BDAT('sales.sas7bdat') as file:
    df_sas = file.to_data_frame()

# Print head of DataFrame

print(df_sas.head())

# Plot histogram of DataFrame features (pandas and pyplot already imported)
pd.DataFrame.hist(df_sas[['P']])
plt.ylabel('count')
plt.show()

## Importing stata files

In [ ]:
# Import pandas
import pandas as pd

# Load Stata file into a pandas DataFrame: df
## Use pd.read_stata() to load the file 'disarea.dta' into the DataFrame df.

df = pd.read_stata('disarea.dta')

# Print the head of the DataFrame df

print(df.head())

# Plot histogram of one column of the DataFrame
pd.DataFrame.hist(df[['disa10']])
plt.xlabel('Extent of disease')
plt.ylabel('Number of countries')
plt.show()

## Using h5py to import HDF5 files

In [ ]:
# Import packages
import numpy as np
import h5py

# Assign filename: file

file = 'LIGO_data.hdf5'

# Load file: data

data = h5py.File(file, 'r')

# Print the datatype of the loaded file

print(type(data))

# Print the keys of the file
for key in data.keys():
    print(key)

## Extracting data from your HDF5 file

In [ ]:
# Assign the HDF5 group data['strain'] to group.

group = data['strain']

# In the for loop, print out the keys of the HDF5 group in group.

for key in group.keys():
    print(key)

# Assign to the variable strain the values of the time series data data['strain']['Strain'] using the attribute .value.

strain = data['strain']['Strain'].value

# Set number of time points to sample: num_samples

num_samples = 10000

# Set time vector
time = np.arange(0, 1, 1/num_samples)

# Plot data
plt.plot(time, strain[:num_samples])
plt.xlabel('GPS Time (s)')
plt.ylabel('strain')
plt.show()

## Loading matlab (.mat) files

In [ ]:
# Import package

import scipy.io

# Load MATLAB file: mat
## Load the file 'albeck_gene_expression.mat' into the variable mat; do so using the function scipy.io.loadmat().

mat = scipy.io.loadmat('albeck_gene_expression.mat')

# Print the datatype type of mat
print(type(mat))

## The structure of .mat in Python

In [ ]:
import scipy.io
import matplotlib.pyplot as plt
import numpy as np

# Print the keys of the MATLAB dictionary
# Use the method .keys() on the dictionary mat to print the keys. Most of these keys (in fact the ones that do NOT begin and end with '__') are variables from the corresponding MATLAB environment.

print(mat.keys())

# Print the type of the value corresponding to the key 'CYratioCyt'
# Print the type of the value corresponding to the key 'CYratioCyt' in mat. Recall that mat['CYratioCyt'] accesses the value.

print(type(mat['CYratioCyt']))

# Print the shape of the value corresponding to the key 'CYratioCyt'
# Print the shape of the value corresponding to the key 'CYratioCyt' using the numpy function shape().

print(np.shape(mat['CYratioCyt']))

# Subset the array and plot it
data = mat['CYratioCyt'][25, 5:]
fig = plt.figure()
plt.plot(data)
plt.xlabel('time (min.)')
plt.ylabel('normalized fluorescence (measure of expression)')
plt.show()

# 3. Working with relational databases in Python

## Creating a database engine

In [ ]:
# Import the function create_engine from the module sqlalchemy.

from sqlalchemy import create_engine

# Create engine: engine
## Create an engine to connect to the SQLite database 'Chinook.sqlite' and assign it to engine.

engine = create_engine('sqlite:///Chinook.sqlite')

## What are the tables in the database?

In [ ]:
# Import necessary module

from sqlalchemy import create_engine

# Create engine: engine

engine = create_engine('sqlite:///Chinook.sqlite')

# Save the table names to a list: table_names
## Using the method table_names() on the engine engine, assign the table names of 'Chinook.sqlite' to the variable table_names.

table_names = engine.table_names()

# Print the table names to the shell
print(table_names)

## The Hello World of SQL Queries!

In [ ]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Open engine connection: con
## Open the engine connection as con using the method connect() on the engine.

con = engine.connect()

# Perform query: rs
## Execute the query that selects ALL columns from the Album table. Store the results in rs.

rs = con.execute('SELECT * FROM Album')

# Save results of the query to DataFrame: df
## Store all of your query results in the DataFrame df by applying the fetchall() method to the results rs.

df = pd.DataFrame(rs.fetchall())

# Close connection

con.close()

# Print head of DataFrame df
print(df.head())

## Customizing the Hello World of SQL Queries (using the context manager)

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('sqlite:///Chinook.sqlite')

# Open engine in context manager
# Perform query and save results to DataFrame: df
## Execute the SQL query that selects the columns LastName and Title from the Employee table. Store the results in the variable rs.
### Apply the method fetchmany() to rs in order to retrieve 3 of the records. Store them in the DataFrame df.
#### Using the rs object, set the DataFrame's column names to the corresponding names of the table columns.

with engine.connect() as con:
    rs = con.execute('SELECT LastName, Title FROM Employee')
    df = pd.DataFrame(rs.fetchmany(size=3))
    df.columns = rs.keys()

# Print the length of the DataFrame df
print(len(df))

# Print the head of the DataFrame df
print(df.head())

## Filtering your database records using SQL's WHERE

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Open engine in context manager
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Employee WHERE EmployeeId >= 6")
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

# Print the head of the DataFrame df
print(df.head())

## Ordering your SQL records with ORDER BY

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Open engine in context manager
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Employee ORDER BY BirthDate")
    df = pd.DataFrame(rs.fetchall())

    # Set the DataFrame's column names
    df.columns = rs.keys()

# Print head of DataFrame
print(df.head())

## Pandas and The Hello World of SQL Queries!

In [ ]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Execute query and store records in DataFrame: df
df = pd.read_sql_query("SELECT * FROM Album", engine)

# Print head of DataFrame
print(df.head())

'''The remainder of the code is included to confirm that the DataFrame created by this method is equal to that created by the previous method that you learned.'''


# Open engine in context manager and store query result in df1
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Album")
    df1 = pd.DataFrame(rs.fetchall())
    df1.columns = rs.keys()

# Confirm that both methods yield the same result
print(df.equals(df1))

## Pandas for more complex querying

In [ ]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
## Using the function create_engine(), create an engine for the SQLite database Chinook.sqlite and assign it to the variable engine.

engine = create_engine('sqlite:///Chinook.sqlite')

# Execute query and store records in DataFrame: df
## Use the pandas function read_sql_query() to assign to the variable df the DataFrame of results from the following query: select all records from the Employee table where the EmployeeId is greater than or equal to 6 and ordered by BirthDate (make sure to use WHERE and ORDER BY in this precise order).

df = pd.read_sql_query(
    "SELECT * FROM Employee WHERE EmployeeId >= 6 ORDER BY BirthDate",
    engine
)

# Print head of DataFrame
print(df.head())

## The power of SQL lies in relationships between tables: INNER JOIN

In [ ]:
# Open engine in context manager
# Perform query and save results to DataFrame: df
## Assign to rs the results from the following query: select all the records, extracting the Title of the record and Name of the artist of each record from the Album table and the Artist table, respectively. To do so, INNER JOIN these two tables on the ArtistID column of both.

### In a call to pd.DataFrame(), apply the method fetchall() to rs in order to fetch all records in rs. Store them in the DataFrame df.

#### Set the DataFrame's column names to the corresponding names of the table columns.


with engine.connect() as con:
    rs = con.execute("SELECT Title, Name FROM Album INNER JOIN Artist on Album.ArtistID = Artist.ArtistID")
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

# Print head of DataFrame df
print(df.head())

## Filtering your INNER JOIN

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Execute query and store records in DataFrame: df
## Use the pandas function read_sql_query() to assign to the variable df the DataFrame of results from the following query: select all records from PlaylistTrack INNER JOIN Track on PlaylistTrack.TrackId = Track.TrackId that satisfy the condition Milliseconds < 250000.

df = pd.read_sql_query(
    "SELECT * FROM PlaylistTrack INNER JOIN Track ON PlaylistTrack.TrackId = Track.TrackId WHERE Milliseconds < 250000",
    engine
)

# Print head of DataFrame
print(df.head())